.form-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.form{
    padding: 2rem;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.1);
}

.form h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    padding:10px 0 ;
    text-align: center;
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

.form div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.form div label{
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, sans-serif;
    color: #333;
}

.form div input{
    border:1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    padding:10px 30px;
}

.form button{
    border:none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    padding:10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.form p{
    font-size: 0.9rem;
    color: rgb(28, 28, 194);
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}